################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/obj/Debug/TouchProtocolTest_MarkupCompile.lref
/obj/Debug/TouchProtocolTest_MarkupCompile.i.lref
/obj/Debug/TouchProtocolTest_MarkupCompile.i.cache
/obj/Debug/TouchProtocolTest_MarkupCompile.cache
/obj/Debug/TouchProtocolTest.Properties.Resources.resources
/obj/Debug/TouchProtocolTest.pdb
/obj/Debug/TouchProtocolTest.g.resources
/obj/Debug/TouchProtocolTest.exe
/obj/Debug/TouchProtocolTest.csprojResolveAssemblyReference.cache
/obj/Debug/TouchProtocolTest.csproj.GenerateResource.cache
/obj/Debug/TouchProtocolTest.csproj.FileListAbsolute.txt
/obj/Debug/TouchProtocolTest.csproj.CoreCompileInputs.cache
/obj/Debug/TouchProtocolTest.csproj.CopyComplete
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/MainWindow.g.i.cs
/obj/Debug/MainWindow.g.cs
/obj/Debug/MainWindow.baml
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/App.g.i.cs
/obj/Debug/App.g.cs
/bin/Debug/TouchProtocolTest.pdb
/bin/Debug/TouchProtocolTest.exe.config
/bin/Debug/TouchProtocolTest.exe
/bin/Debug/LiveCharts.xml
/bin/Debug/LiveCharts.Wpf.xml
/bin/Debug/LiveCharts.Wpf.pdb
/bin/Debug/LiveCharts.Wpf.dll
/bin/Debug/LiveCharts.pdb
/bin/Debug/LiveCharts.dll
/.vs/TouchProtocolTest/v15/Server/sqlite3/storage.ide-wal
/.vs/TouchProtocolTest/v15/Server/sqlite3/storage.ide-shm
/.vs/TouchProtocolTest/v15/Server/sqlite3/storage.ide
/.vs/TouchProtocolTest/v15/Server/sqlite3/db.lock
/obj/Debug
/.vs/TouchProtocolTest/v16
